<!DOCTYPE html>

<html>

<head>

    <title>Admin Panel</title>

    <link rel="stylesheet"
    href="{{ url_for('static',
    filename='style.css') }}">

</head>

<body>

<div class="box"
style="width:500px;">

    <h1>👨‍💼 Admin Panel</h1>

    <form>

        <input type="text"
        placeholder="Product Name">

        <input type="text"
        placeholder="Product Price">

        <input type="text"
        placeholder="Image Name">

        <button type="submit">

            Add Product

        </button>

    </form>

    <hr>

    <h2>📦 Product List</h2>

    <p>👟 Nike Air Max - ₹1499</p>

    <p>👟 Puma Sport - ₹999</p>

    <p>👟 Asian Shoes - ₹2199</p>

</div>

</body>

</html>

