<!DOCTYPE html>

<html>

<head>

    <title>Stepify</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <div class="logo">

        <img src="{{ url_for('static',
        filename='images/logo.jpeg') }}"

        width="70">

        <h1>Stepify</h1>

    </div>

    <div>


        <a href="/logout">
            <button>Logout</button>
        </a>

    </div>

</div>

<div class="search-box">

    <div style="position:relative;
    display:inline-block;">

        <input type="text"
        id="searchInput"
        placeholder="Search products..."
        onkeyup="searchProducts()">

        <span style="
        position:absolute;
        right:15px;
        top:50%;
        transform:translateY(-50%);
        font-size:20px;">

            🔍

        </span>

    </div>

</div>

<div class="products">

    <!-- PRODUCT 1 -->

    <div class="card product">

        <img src="{{ url_for('static',
        filename='images/1.jpeg') }}">

        <div class="card-content">

            <h2>Asian Men's Everest</h2>

            <p>₹1499</p>

            <div class="button-group">

                <a href="/cart">
                    <button class="add-btn">
                        Add to Cart
                    </button>
                </a>

                <a href="/checkout">
                    <button class="buy-btn">
                        Buy Now
                    </button>
                </a>

                <a href="/product/asian-mens-everest">

                 <button class="detail-btn">
                    Details
                </button>

                </a>

            </div>

        </div>

    </div>

    <!-- PRODUCT 2 -->

    <div class="card product">

        <img src="{{ url_for('static',
        filename='images/2.jpeg') }}">

        <div class="card-content">

            <h2>Asian Shoes</h2>

            <p>₹899</p>

            <div class="button-group">

                <a href="/cart">
                    <button class="add-btn">
                        Add to Cart
                    </button>
                </a>

                <a href="/checkout">
                    <button class="buy-btn">
                        Buy Now
                    </button>
                </a>

                <a href="/product/asian">

    <button class="detail-btn">

        Details

    </button>

</a>

            </div>

        </div>

    </div>

    <!-- PRODUCT 3 -->

    <div class="card product">

        <img src="{{ url_for('static',
        filename='images/3.jpeg') }}">

        <div class="card-content">

            <h2>Puma Sport</h2>

            <p>₹2199</p>

            <div class="button-group">

                <a href="/cart">
                    <button class="add-btn">
                        Add to Cart
                    </button>
                </a>

                <a href="/checkout">
                    <button class="buy-btn">
                        Buy Now
                    </button>
                </a>

               <a href="/product/puma">

    <button class="detail-btn">

        Details

    </button>

</a>

            </div>

        </div>

    </div>


   <!-- PRODUCT 4 -->

    <div class="card product">

        <img src="{{ url_for('static',
        filename='images/4.jpeg') }}">

        <div class="card-content">

            <h2>Adidas Ultraboost</h2>

            <p>₹1499</p>

            <div class="button-group">

                <a href="/cart">
                    <button class="add-btn">
                        Add to Cart
                    </button>
                </a>

                <a href="/checkout">
                    <button class="buy-btn">
                        Buy Now
                    </button>
                </a>

               <a href="/product/adidas">

    <button class="detail-btn">

        Details

    </button>

</a>

            </div>

        </div>

    </div>

   <!-- PRODUCT 5 -->

    <div class="card product">

        <img src="{{ url_for('static',
        filename='images/5.jpeg') }}">

        <div class="card-content">

            <h2>Puma RS-X</h2>

            <p>₹1299</p>

            <div class="button-group">

                <a href="/cart">
                    <button class="add-btn">
                        Add to Cart
                    </button>
                </a>

                <a href="/checkout">
                    <button class="buy-btn">
                        Buy Now
                    </button>
                </a>

               <a href="/product/puma">

    <button class="detail-btn">

        Details

    </button>

</a>

            </div>

        </div>

    </div>

   <!-- PRODUCT 6 -->

    <div class="card product">

        <img src="{{ url_for('static',
        filename='images/6.jpeg') }}">

        <div class="card-content">

            <h2>Reebok Runner</h2>

            <p>₹1179</p>

            <div class="button-group">

                <a href="/cart">
                    <button class="add-btn">
                        Add to Cart
                    </button>
                </a>

                <a href="/checkout">
                    <button class="buy-btn">
                        Buy Now
                    </button>
                </a>

               <a href="/product/reebok">

    <button class="detail-btn">

        Details

    </button>

</a>

            </div>

        </div>

    </div>

   <!-- PRODUCT 7 -->

    <div class="card product">

        <img src="{{ url_for('static',
        filename='images/7.jpeg') }}">

        <div class="card-content">

            <h2>Campus OG</h2>

            <p>₹1049</p>

            <div class="button-group">

                <a href="/cart">
                    <button class="add-btn">
                        Add to Cart
                    </button>
                </a>

                <a href="/checkout">
                    <button class="buy-btn">
                        Buy Now
                    </button>
                </a>

               <a href="/product/campus">

    <button class="detail-btn">

        Details

    </button>

</a>

            </div>

        </div>

    </div>

   <!-- PRODUCT 8 -->

    <div class="card product">

        <img src="{{ url_for('static',
        filename='images/8.jpeg') }}">

        <div class="card-content">

            <h2>Sparx Sports</h2>

            <p>₹899</p>

            <div class="button-group">

                <a href="/cart">
                    <button class="add-btn">
                        Add to Cart
                    </button>
                </a>

                <a href="/checkout">
                    <button class="buy-btn">
                        Buy Now
                    </button>
                </a>

               <a href="/product/sparx">

    <button class="detail-btn">

        Details

    </button>

</a>

            </div>

        </div>

    </div>

   <!-- PRODUCT 9 -->

    <div class="card product">

        <img src="{{ url_for('static',
        filename='images/9.jpeg') }}">

        <div class="card-content">

            <h2>Woodland Trek</h2>

            <p>₹1249</p>

            <div class="button-group">

                <a href="/cart">
                    <button class="add-btn">
                        Add to Cart
                    </button>
                </a>

                <a href="/checkout">
                    <button class="buy-btn">
                        Buy Now
                    </button>
                </a>

               <a href="/product/woodland">

    <button class="detail-btn">

        Details

    </button>

</a>

            </div>

        </div>

    </div>

   <!-- PRODUCT 10 -->

    <div class="card product">

        <img src="{{ url_for('static',
        filename='images/10.jpeg') }}">

        <div class="card-content">

            <h2>Doctor Extra Soft</h2>

            <p>₹1199</p>

            <div class="button-group">

                <a href="/cart">
                    <button class="add-btn">
                        Add to Cart
                    </button>
                </a>

                <a href="/checkout">
                    <button class="buy-btn">
                        Buy Now
                    </button>
                </a>

               <a href="/product/doctor">

    <button class="detail-btn">

        Details

    </button>

</a>

            </div>

        </div>

    </div>

</div>

<div class="bottom-nav">

    <a href="/">
        <div>
            🏠
            <p>Home</p>
        </div>
    </a>

    <a href="/checkout">
        <div>
            💳
            <p>Orders</p>
        </div>
    </a>

   <a href="/account">

    <div>

        👤

        <p>Account</p>

    </div>

    </a>

    <a href="/cart">
        <div>
            🛒
            <p>Cart</p>
        </div>
    </a>

</div>

<script>

function searchProducts() {

    let input =
    document.getElementById("searchInput")
    .value.toLowerCase();

    let products =
    document.getElementsByClassName("product");

    for(let i = 0; i < products.length; i++) {

        let text =
        products[i].innerText.toLowerCase();

        if(text.includes(input)) {

            products[i].style.display = "block";
        }

        else {

            products[i].style.display = "none";
        }

    }

}

</script>

</body>

</html>
