<!DOCTYPE html>

<html>

<head>

    <title>Register</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="box">

    <h1>📝 Register</h1>

    <form method="POST">

        <input type="text"
        name="mobile"
        placeholder="Mobile Number"
        required>

        <input type="password"
        name="password"
        placeholder="Strong Password"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must contain uppercase, lowercase, number and 8+ characters"
        required>

        <button type="submit">

        Register

        </button>

    </form>

    {% if error %}

    <p style="
    color:red;
    margin-top:15px;
    font-weight:bold;">

    {{ error }}

</p>

{% endif %}

     <div style="margin-top:20px;">

        <a href="/login">
            Already have an account?
        </a>

</div>

</body>

</html>
